* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins:";
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #012e40, #007ea7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.container h1 {
  font-size: 45px;
  font-weight: 500px;
  margin-top: -50px;
  margin-bottom: 50px;
}
.container h1 span {
  color: #0b9bca;
}
textarea {
  width: 600px;
  height: 250px;
  background: #007ea7;
  color: white;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}
textarea::placeholder {
  color: white;
  font-size: 16px;
}
.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}
button {
  background: #007ea7;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
select {
  flex: 1;
  height: 50px;
  background: #007ea7
    url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>")
    no-repeat right 15px center;
  background-size: 15px;
  color: white;
  outline: 0;
  border: 0;
  border-radius: 30px;
  padding: 0 40px 0 20px;
  appearance: none;
  cursor: pointer;
}
